%p
  Ditt nya lösenord är:
  = @password
  %br
  Ditt användarnamn är:
  =@user.username
%p
  För att logga in med ditt nya lösenrod klicka på följande länk:
  %a{href: "https://"+ request.host_with_port}
    = request.host
