!!!
%html
  %head
    %title
      AVNSP - SSO
    %link{href: "/bootstrap.css", rel: :stylesheet}
  %body
    .navbar.navbar-inverse
      .navbar-inner
        .container
          %a.brand{href: '/'} AVNSP
          %ul.nav.pull-right
            %li
              %a{href: "/logout"} Logga ut
    .container
      .row
        - flash.each_pair do |k,v|
          .alert{class: "alert-#{k}"}
            = v
        !=yield
