.page-header
  %h1 Återställa lösenordet?
%form{method: :post}
  %fieldset
    .control-group
      %label.congtrol-label Email
      .controls
        %input{type: :email, name: :email}
    .form-actions
      %button.btn Återställ
      %a.btn{href: back} Avbryt
